<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="gates_final" command="$(find xacro)/xacro.py '$(find gates_final)/urdf/gates_final.xacro'"/> 

  <node name="gates_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
  args="-urdf -param gates_final -x 0.0 -y 3.5 -z 1 -R 0 -P 0 -Y 0.4 -model gates_final" />

</launch>
